<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Formulario Instrumento</title>
	<div th:replace="plantillas/base :: in_head"></div>
</head>

<body>
	<nav th:replace="plantillas/base :: nav"></nav>

	<div class="container">

		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<form method="post" action="#" enctype="multipart/form-data"
					th:action="${partituraForm.id != 0} ? @{/partitura/edit/submit} : @{/partitura/new/submit}"
					th:object="${partituraForm}">

					<h1 th:text="${partituraForm.id != 0} ? 'Editar partitura' : 'Nuevo partitura'">Nuevo partitura</h1>

					<div class="form-group" th:classappend="${#fields.hasErrors('id')} ? 'has-error'">
						<label for="id">ID</label>
						<input type="text" class="form-control" id="id" placeholder="1" th:field="*{id}"
							th:attrappend="readonly=${partituraForm.id != 0} ? 'readonly' : null">
						<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="help-block"
							id="id-error">Errores</span>
					</div>

					<div class="form-group">
						<label for="nombre">Nombre</label>
						<input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}" />
					</div>

					<div class="form-group">
						<label for="file">Archivo <span th:text="${partituraForm.archivo}"></span></label>
						<input id="filebutton" name="file" class="form-control input-file" type="file">
					</div>


					<div>
					<div class="form-group">
							<label for="instrumento">Instrumento</label>
							<br>
							<select th:field="*{instrumento}">
								<option th:each="instrumento : ${listainstrumento}" th:text="${instrumento.nombre}"
									th:selected="(${partituraForm.id} == ${instrumento.id})"
									th:value="${instrumento.nombre}">
								</option>
							</select>
						</div>
					
					</div>
					<div>
					<div class="form-group">
							<label for="obra">Nombre de Obra</label>
							<br>
							<select th:field="*{obra}">
								<option th:each="obra : ${listaobra}" th:text="${obra.nombre}"
									th:selected="(${obraForm.id} == ${obra.id})" th:value="${obra.nombre}">
								</option>
							</select>
						</div>
					
					</div>

						










					<button type="submit" class="btn btn-default">Enviar</button>
				</form>
			</div>
		</div>


	</div>
	<!-- /.container -->
	<footer th:replace="plantillas/base :: footer"></footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>